body {
    margin: 0;
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #F8F8F8;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

.container{
    max-width: 450px;
    min-height: 100vh;
    margin: 0 auto;
}

image{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between; 
    padding: 5%; 
    margin: 0 auto; 
    background: white;
}

.header-icon{
    max-height: 3vh;
    margin: 0;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.actions{
    padding: 2%;
}

.dog-container{
    max-height: 70vh;
    margin: 10px auto;
    padding: 5px;
    position: relative;
}

.avatar{
    max-height: inherit;
    max-width: 450px;
    border-radius: 15px;
    padding: 0; 
    margin: 0;
}

.dog-info{
    position: absolute;
    top: 85%;
    left: 5%;
}

h1{
    font-weight: 600;
    font-size: 2em;
    line-height: 36px;
    padding: 2px 0; 
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 1em;
    line-height: 32px;
    color: #B7B7B7;
    padding: 0;
    margin: 0;
}

.btn{
    width: 5rem;
    height: 5rem;
    margin: 10px;
    border-radius: 50%;
    padding: 10px 10px 0 10px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    
}

.like:hover, .like:focus, .like:active {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

.swipe:hover, .swipe:focus, .swipe:active{
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

.badge{
    position: absolute;
    top: 7%;
    left: 5%;
}

.badge-like, .badge-nope {
    width: 50%;
    height: 25%;
    transform: rotate(-20deg);
}

p{
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin: 25% 5%;
}